.results-table {
  width: 85%;
  margin: 20px auto 0 auto;
  border-top: 2px solid #fff;
}
.table-header {
  color: #fff;
}
.percentage {
  text-align: right;
  color: #fff;
}
th, td {
  padding-top: 20px;
  text-align: left;
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  font-weight: normal;
}